.accordionItem {
  padding: 0 16px;
  cursor: pointer;
  display: block;
  &.darkMode {
    .titleRow {
      border-bottom: 1px solid #f1f2f3;
      .title {
        color: #43464e;
      }
    }
    .linkBox {
      .subLink {
        color: #43464e;
      }
    }
  }
  .titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 16px 0;
    .title {
      font-size: 16px;
      font-weight: 500;
      line-height: 22.4px;
      text-align: left;
      color: #fff;
    }
    .showMore {
      position: relative;
      width: 50px;
      height: 100%;
      z-index: 10;
      text-align: center;
    }
  }
  .linkBox {
    display: none;
    &.showLink {
      display: block;
    }
    .subLink {
      display: block;
      font-size: 14px;
      font-weight: 500;
      line-height: 22.4px;
      text-align: left;
      color: #fff;
      padding-left: 16px;
      margin-bottom: 8px;
    }
  }
}
