.updateQuantity {
  width: 110px;
  height: 40px;
  background-color: #fff;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.disable {
    color: #b3b3b3;
  }
  .button {
    width: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}
